[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.8'

[packages]
flask-apscheduler = "*"
discord = {py = '>1.6.0'}
python-dotenv = '0.15.0'
structlog = "*"
requests = "*"
"pdfminer.six" = "*"
